
  <section id="hero">
    <div class="hero-container" data-aos="fade-up" data-aos-delay="150">
      <h1 style=" font-family: Lemonada">من نحن ؟</h1>
      <h2 style="text-align: center; font-family: Lemonada">
        شركة ساراي هي شركة ديكور هندسي متخصص في تصميم وتنفيذ المطابخ الخشب المودرن و الدريسنج رووم
      </h2>
      <div class="d-flex">
        <a [routerLink]="['/about']"   class="btn-get-started scrollto" style=" font-family: Lemonada">SARAI عن</a>
      </div>
    </div>
  </section><!-- End Hero -->

